/* Tabela de cor https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B);
/* Corpo da página */
:root{
    
  --color-neutral-10: black;
 
  --color-neutral-40: #f5f5f5;
}

*{
    margin: 0; 
    padding: 0;
}
body{
     /* background-color: rgb(255, 255, 255);  */
    /* background-color: #233d4d; */
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
     background:linear-gradient(45deg,#dcdcdd,#c0c0c0); 
  }
    /* Fim */


    /* Inicio do Menu */


#menu_nav{
    
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    background-color: black;
    border: 0px solid red; 

}
#menu_nav a{
    text-decoration: none;
    color: #ffffff;
}
.links{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 10%;
    margin-top: 1.5%;
    border: 0px solid red; 
}
.link_bootstrap{
 margin-top: 0.9%;
}



/* Botão Bootstrap */
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
     vertical-align: middle; 
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-secondary {
    /* background-color:#ffa500 ; */
    --bs-btn-color: #fff;
    --bs-btn-bg: #FAA307 ;
    --bs-btn-border-color: #370617;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #370617;
    --bs-btn-hover-border-color: #370617;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #370617;
    --bs-btn-active-border-color: #370617;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #370617;
    --bs-btn-disabled-border-color: #fff !important;
  }

/* Começo do Logo */

#logo img{
  width: 10% ;
  }
  /* Fim do logo */

/* Fim do menu*/

/* Carousel */
section.slider{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
}
.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input{
  display: none;
}

.slide-box{
  width:25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

/* .slide-box img{
  width: 100%;
  background-color: blue;
} */
.slide
{
  background-color: #E85D04;
  height: 500px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.slide_meio{
  background-color: #9D0208;
  height: 500px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid #03071E;
  padding: 10px;
  border-radius: 50%;
  cursor:pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px ;
  
}

.nav-manual .manual-btn:hover{
  background-color: #FFBA08;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: #FFBA08;
  
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}

/* @media screen and (max-width:900px){
  .img-desktop{
    display:none;
  }
  .img-mobile{
    display: block;
  }

  .nav-auto, .nav-manual{
      margin-top: 60px;
  }
} */

/* Fim do Carousel */


/* Inicio da Página Biotipos */
.biotipos_header{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
}

.biotipos_intro{
  width: 60%;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
  align-items: center;
  background-color: #D00000 ;
  border: 2px solid #03071E;
  border-radius: 10px;
  margin-left: 19%;
  margin-top: 2%;

}
.introducao_biotipos p{
  color: #fff;
 
}

.geral
{
  display: flex;
  float: left;
  flex-direction: row;
  margin-top: 7%;
  gap: 120px;
 
}

.biotipos_card{
  width: 40%;
}

.biotipos_botao{
  width: 20%;

  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.cards_slides{
  margin-left: 5%;
}
/* Carousel Vertical */

.card-box_bio{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;

}

.card_bio
{
  background-color: #E85D04;
  width: 700px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid #03071E;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card_bio_meio{
  background-color: #9D0208;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  border: 2px solid #03071E;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

}




/* Fim do Carousel */



/* Inicio do Card Bootstrap */
.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: #D00000 ;
  --bs-card-subtitle-color: #D00000;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: #fff ;
  --bs-card-height: ;
  --bs-card-color: #D00000;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  margin-top: 10%;
  padding-top:2% ;
  margin-left:1%;
  text-align: left;
  text-decoration: none;
  background-color: #FAA307;
  border-radius: 8px;
  border: 2px solid #03071E;
  
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}



.card-text:last-child {
  margin-bottom: 0;
}

.card-link + .card-link {
  margin-left: var(--bs-card-spacer-x);
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  align-items: first baseline;
}
.card-header p{
  padding-bottom: 5%;

}
.list-group  li{
  padding-left: 4%;
  text-decoration: none;
  color: #fff;
}
.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}



.card-header-tabs {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
  border-bottom: 0;
}
.card-header-tabs .nav-link.active {
  background-color: var(--bs-card-bg);
  border-bottom-color: var(--bs-card-bg);
}

.card-header-pills {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
}







.card-group > .card {
  margin-bottom: var(--bs-card-group-margin);
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

/* Fim do Card Bootstrap */

/* Inicio do Botões verticais Bootstrap */
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
}
.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  width: 100%;
}
.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
  margin-top: calc(var(--bs-border-width) * -1);
}
.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn ~ .btn,
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-outline-danger {
  --bs-btn-color: #370617;
  --bs-btn-border-color: #03071E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #370617;
  --bs-btn-hover-border-color: #370617;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #370617;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color:#fff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #370617;
  --bs-gradient: none;
}
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check[disabled] + .btn, .btn-check:disabled + .btn {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}



/* Fim do Botões verticais Bootstrap */




/* Fim da página Biotipos  */


/* Comceço da página Comece */
.comece_header{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
}

.comece_header p{
  margin-top: 2%;
  margin-left: 2% ;
}


.comece_header h2{

  margin-left: 1% ;
}


.comece_intro{
  margin-top: 2%;
}
.geral_comece{
  display: flex;
  flex-direction: row;
}

/* Começo do Dropdown Bootstrap */
.custom-dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #03071E;
  border-radius: 5px;
  margin-top: 75px;
  margin-left:2% ;
  cursor: pointer;
}
.custom-dropdown li{
  list-style-type: none;
 
}

.custom-dropdown .dropdown-toggle {
  background-color: #6A040F;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.custom-dropdown .dropdown-toggle:hover {
  background-color: #D00000;
}

.custom-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #FFBA08;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  z-index: 1;
}

.custom-dropdown .dropdown-item {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #FFBA08;
}

.custom-dropdown.show .dropdown-menu {
  display: block;
}






/* Fim do Dropdown Bootsrap */

/* Inicio do Conteúdo do dropdown */


.comece_conteudo_geral
{
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 15%;
   margin-top: 5%;
   border: 0px solid red
}

.comece_instrutores
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   width: 1000px;
   height: 600px;
   border: 2px solid #03071E;
   border-radius: 10px;
   margin-bottom: 3%;
   background-color: #E85D04;
   text-align: center;
   align-items: center;
   
}

.comece_referencias_renato
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   width: 1000px;
   height: 600px;
   border: 2px solid #03071E;
   border-radius: 10px;
   margin-bottom: 3%;
   background-color: #E85D04;
   text-align: center;
   align-items: center;

}

.comece_referencias_julio
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   width: 1000px;
   height: 600px;
   border: 2px solid #03071E;
   border-radius: 10px;
   margin-bottom: 3%;
   background-color: #E85D04;
   text-align: center;
   align-items: center;

}


/* Fim do Conteúdo do dropdown */

/* Começo da Barra de Pesquisar da Página Comece */
.search-box
{
  position: absolute;
  top: 40%;
  background-color: #D00000;
  height: 40px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-input-placeholder .search-txt{
  color: #9D0208;
}

.search-txt
{
  border:none;
  background: none;
  outline:none;
  padding: 0;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  width: 0;
  transition: 0.5s;
  font-family: 'Open Suns';
}

.search-btn
{
  width: 40px;
  height: 40px;
  border-radius:50% ;
  background: #D00000 ;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
  
}

.search-box:hover > .search-btn{
  background-color: #fff;
}



/* Fim da Barra de Pesquisar  */


/* Inicio do conteudo do Instrutores */
.foto_perfil{
  position: absolute;
  margin-left:55% ;
  margin-bottom: 25%;
 
}

.sobre_instrutores_cont{
  display: flex;
  position: absolute;
  width: 45%;
  text-align: justify;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-bottom: 17%;
}

.sobre_instrutores_title{
  margin-bottom:50% ;
  margin-left: 2%;

}

.comece_botoes{
  
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 240px;
  margin-top: 37%;
  margin-left: 25%;
}

.comece_botoes a{
  text-decoration: none ;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.intrutores-btn{
  width: 100px;
  height: 40px;
  background-color: #6A040F;
  border-radius: 5px;
  border: 2px solid #03071E;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intrutores-btn:hover{
  background-color: #D00000;
  transition: .2s;
}



/* Fim dos Instrutores */

/* Começo das Referencias */
.referencias_botoes_ref{
  
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  width: 300px;
  margin-bottom: 3%;
 
}

.referencias_botoes_ref a{
  text-decoration: none ;
  color: #fff;
}

.referencias-btn{
  width: 120px;
  height: 40px;
  background-color: #6A040F;
  border-radius: 5px;
  border: 2px solid #03071E;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.referencias-btn:hover{
  background-color: #D00000;
  transition: .2s;
}

.conteudo-dropdown {
  display: flex;
  flex-direction: column;
}
.comece_referencias_renato,
.comece_referencias_julio {
  display: none;
}

.sobre_referencias_cont{
  display: flex;
  position: absolute;
  width: 45%;
  text-align: justify;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-top: 2% ;

}



.foto_perfil_renato {
  position: absolute;
  margin-left: 48% ;
  margin-top: 5%;
 

  
}

.foto_perfil_renato img{
  border-radius: 45%;
  border: 2px solid #03071E  ;

}

  .foto_perfil_julio{
    position: absolute;
    margin-left:50% ;
    margin-top: 5%;

  }

.sobre_referencias_title{
    margin-right: 90%;
    margin-top: 2%;
 

}

.referencia_renato_botao{
  position: absolute;
  margin-top: 32%;
  margin-left: 30%;
 
}







/* Fim das Referencias */

/* Começo da Página Login */
.tela_login{
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 80px;
  border-radius: 15px;
  color: #fff;

}


.tela_login input{
  padding: 15px;
  border: none;
  outline: none;
  font-size: 15px;
}

.tela_login button{
  background-color: #E85D04;
  border: none;
  padding: 15px;
  width:100%;
  border-radius:10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

.tela_login button:hover{
  background-color: #9D0208;
  transition: 0.2s;
}



/* Fim da página Login */

/* Fim da página Comece */


