/* Tabela de cor https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */

/* Corpo da página */
:root{
    
  --color-neutral-10: black;
 
  --color-neutral-40: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
    /* Fim */


    /* Inicio do Menu */


#menu_nav{
    
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    background-color: black;
    border: 0px solid red; 

}
#menu_nav a{
    text-decoration: none;
    color: #ffffff;
}
.links{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 10%;
    margin-top: 1.5%;
    border: 0px solid red; 
}
.link_bootstrap{
 margin-top: 0.9%;
}



/* Botão Bootstrap */
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
     vertical-align: middle; 
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-secondary {
    /* background-color:#ffa500 ; */
    --bs-btn-color: #fff;
    --bs-btn-bg: #FAA307 ;
    --bs-btn-border-color: #370617;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #370617;
    --bs-btn-hover-border-color: #370617;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #370617;
    --bs-btn-active-border-color: #370617;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #370617;
    --bs-btn-disabled-border-color: #fff !important;
  }

/* Começo do Logo */

#logo img{
  width: 10% ;
  }
  /* Fim do logo */

/* Fim do menu*/

/* Carousel */
section.slider{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
}
.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input{
  display: none;
}

.slide-box{
  width:25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

/* .slide-box img{
  width: 100%;
  background-color: blue;
} */
.slide
{
  background-color: #E85D04;
  height: 500px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.slide_meio{
  background-color: #9D0208;
  height: 500px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid #03071E;
  padding: 10px;
  border-radius: 50%;
  cursor:pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px ;
  
}

.nav-manual .manual-btn:hover{
  background-color: #FFBA08;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: #FFBA08;
  
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}

/* @media screen and (max-width:900px){
  .img-desktop{
    display:none;
  }
  .img-mobile{
    display: block;
  }

  .nav-auto, .nav-manual{
      margin-top: 60px;
  }
} */

/* Fim do Carousel */


