<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pumpkin mk</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./estilo.css')}}">
    <script type="text/javascript" src="../static/script.js" defer></script>

</head>
<body>
     <nav id="menu_nav">

              <div class="logo">

                <img src="../static/imagens/Abobora_logo.png" alt="Abóbora"   width="100px" height="100px" >


              </div>

             
               <div  class="todos_os_links">
                <div class="links">
                  <a  href="/">Home</a>
                  <a  href="/Biotipos">Biotipos</a>
                  <a  href="/Comece">Comece</a>
                </div> 

                <div class="link_bootstrap">
                  <a href="/Login "> <button type="button"  class="btn btn-secondary">Login</button>  </a>
                </div>
              </div>
              
             
             
               
            
              
     </nav>
                
   
  <main class="main">
  {% block main %}
  {% endblock %}
  </main>

    
</body>
</html>