{% extends 'base.html'%}



{% block main %}
<head> <script type="text/javascript" src="../static/dropdown.js" defer></script>
        <script type="text/javascript" src="../static/comece.js" defer></script> 
</head>

<section class="comece_header">
    
    <div class="comece_intro">
        <h2>Movimente-se</h2>
        <p>
            Não espere mais. Comece amanhã na academia, onde sua jornada para a transformação começa. Cada treino é um passo em direção a uma versão mais forte, saudável e confiante de você. O sucesso é uma escolha, e amanhã é o dia para essa escolha. Vamos lá!

        </p>
    </div>

</section>
<br>
<br>
<br>
<hr>
<div class="geral_comece">

    <section class="comece_drop">
    
    <div class="custom-dropdown">
        <button class="dropdown-toggle" id="dropdownButton" type="button" onclick="toggleMenu()">
            Descubra Mais!
        </button>
        <ul class="custom-dropdown-menu" id="dropdownMenu">
            <li><a class="dropdown-item"  onclick="showSection('conteudo_instrutores_dropdown')">Instrutores</a></li>
            <li><a class="dropdown-item"  onclick="showSection('comece_referencias_dropdown')">Referencias</a></li>
            
        </ul>
    </div>
    </section>

    <div class="comece_conteudo_geral">
    
        <section class="conteudo-dropdown" id="conteudo_instrutores_dropdown">
            
            <div class="search-box">
                  <input type="text" class="search-txt" placeholder="Pesquisar">
                  <a href="#" class="search-btn">
                    <img src="../static/imagens/loupe.png" alt="Lupa" height="20px" width="20px" >
                  </a>
            </div>
            <br>
            
            <div class="comece_instrutores">
               
                <div class="foto_perfil">
                    <img src="../static/imagens/2098873.svg" alt="Foto de Perfil"  width="100px" height="100px">
               </div>

              
                   <div class="sobre_instrutores_title">
                   
                    <h3>
                         Sobre mim
                    </h3>
                   
                   </div> 
                    
                   <div class="sobre_instrutores_cont">
                    <p>
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quas sequi aliquid hic consectetur asperiores voluptas, suscipit esse sunt nemo eaque magnam repellat vitae maiores eligendi fuga vel consequatur tempore.
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ex a nisi expedita sint quis nam, cupiditate doloremque nemo ullam, magni iusto dolore eligendi eum consectetur mollitia. Odit, voluptate fugit!Lorem
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi deserunt odit libero, porro laborum, placeat eaque voluptatibus recusandae unde voluptate? Blanditiis aliquam facilis delectus quia illum porro. Minus, sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda consequatur quisquam blanditiis, temporibus odit qui quibusdam! Cum, in rem maxime consectetur et ea nihil dignissimos voluptatibus accusamus. Quaerat, debitis sapiente!
                    </p>

                </div>

                <div class="comece_botoes">

                    <a class="intrutores-btn" href="#">Consultoria</a>
                    <a class="intrutores-btn" href="#">Cursos</a>
                

                </div>
           
            </div>
       
        </section>

        <section class="conteudo-dropdown" id="comece_referencias_dropdown">

            <div class="referencias_botoes_ref">

                <a class="referencias-btn" href="#card_renato">Renato Cariani</a>
               
            

            </div>
            
            <div class="comece_referencias_renato" id="card_renato">
                <div class="foto_perfil_renato">
                    <img src="../static/imagens/cariani_novo.jpg" alt="Renato Cariani"  width="250px" height="200px">
               </div>

              
                   <div class="sobre_referencias_title">
                   
                    <h3>
                         Sobre 
                    </h3>
                   
                   </div> 
                    
                   <div class="sobre_referencias_cont">
                    <p>
                        
                        Renato Cariani é um profissional altamente respeitado e experiente em sua área, conhecido por sua paixão, comprometimento e habilidades de liderança. Com uma sólida trajetória profissional, ele se destaca por suas contribuições significativas para o desenvolvimento e avanço de sua área de atuação.
                    </p>
                        Sua capacidade de comunicação eficaz e habilidades interpessoais fazem dele um colaborador valioso em equipes de projetos desafiadores. Além disso, Renato é um mentor dedicado, inspirando e orientando outros profissionais em sua jornada de crescimento profissional.
                    <p>   
                        No âmbito pessoal, Renato é admirado não apenas por sua competência profissional, mas também por suas qualidades pessoais, como empatia, respeito e integridade. Ele é conhecido por enfrentar desafios com determinação e por sua constante busca de conhecimento e aprimoramento.
                    </p> 
                    <p>   
                        Renato Cariani é uma referência respeitável em sua área, cujo comprometimento com a excelência e sua influência positiva na profissão e na comunidade o tornam uma fonte de inspiração para outros profissionais em busca do sucesso e do crescimento contínuo.
                    </p>

                </div>

                <div class="referencia_renato_botao">
                    <a class="btn-renato" href="https://www.youtube.com/Renato Cariani"> <img src="../static/imagens/youtube_icon.svg" alt="Yotube" width="70px" height="70px" ></a>
                </div>
            
            </div>

         

            <script>
                const botoes = document.querySelectorAll(".referencias-btn");
        const cards = document.querySelectorAll(".comece_referencias_renato, .comece_referencias_julio");

        botoes.forEach(botao => {
            botao.addEventListener("click", function() {
                const alvo = this.getAttribute("href").substring(1); // Remove o "#" do href
                cards.forEach(card => {
                    card.style.display = card.id === alvo ? "block" : "none";
                });
            });
        });

            </script>
            
       
       
       
           </section>

       
    
    </div>


</div>

{% endblock %}