{% extends 'base.html'%}



{% block main %}

<section class="comece_header">
    
    <div class="comece_intro">
        <h2>Movimente-se</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam architecto quia consequatur cumque perspiciatis accusantium blanditiis, quam ipsum. Ut ea saepe nostrum libero nam esse voluptas. Illum delectus magni et?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, consequuntur fugiat magnam corrupti repellendus quo ab laborum veritatis mollitia facere obcaecati sit perferendis maiores eos voluptates architecto, sapiente ipsum quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quod iste similique, dolore earum ut minima sint nostrum quasi sapiente ipsam perferendis enim hic ullam molestiae minus quaerat. Non, modi.</p>
    </div>

</section>
<br>
<br>
<br>
<hr>

<section class="comece_drop">
    
   



</section>
{% endblock %}