{% extends 'base.html'%}

{% block main %}
<section class="slider">
    <div class="slider-content">
          
        <input type="radio" name="btn-radio" id="radio1">
        <input type="radio" name="btn-radio" id="radio2">
        <input type="radio" name="btn-radio" id="radio3">
        
        <div class="slide-box primeiro">
              <div class="slide">
                
                <h1>Porque começar na academia?</h1>
                <p>
                    Entregar-se à academia é embarcar em uma jornada transformadora. Cada esforço e suor o aproxima de uma versão mais saudável e confiante de si mesmo. Seja paciente, consistente e lembre-se de que sua saúde é um investimento valioso em si mesmo. Acredite em seu potencial e comece a escrever sua história de sucesso na academia!
                </p>
            
            </div>
    </div>

        <div class="slide-box">
            <div class="slide_meio" id="slide2">
                <h1>Vantagens na saude fisíca e mental</h1>
                    
                   <div class="conteudo_slide_meio">
                         <p> 
                            1 - Quando você ingressar na academia, logo irá apresentar fortalecimento cardiovascular e muscular, além de uma grande redução de doenças crônicas. 
                           
                         </p>
                         <br><br>
                         <p>
                            2 - Já na parte de saúde mental, a pessoa apresenta uma grande redução de estresse, redução dos niveis de ansiedade, melhora do sono, aumento da autoestima e prevenção de depressão. Além disso os exercicíos proporcionam uma mente mais clara e oportunidades de sociaçização.
                         </p>
                  </div>  
                 
            
            </div>
        </div>

        <div class="slide-box">
            <div class="slide">
                <h1>Tenha determinação!</h1>
               
                <p>
                    Determinar-se a ir à academia, por pelo menos cinco vezes por semana, é um compromisso que fortalece sua determinação e compromisso pessoal. Cada sessão de treino não apenas o aproxima de seus objetivos físicos, mas também constrói resiliência e persistência. Sua determinação molda um caminho para uma vida mais saudável e bem-sucedida, dentro e fora da academia.
                </p>
            
            </div>
        </div>

        <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>

        <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
    
    </div>

</section>


{% endblock %}