{% extends 'base.html'%}

{% block main %}
<section class="slider">
    <div class="slider-content">
          
        <input type="radio" name="btn-radio" id="radio1">
        <input type="radio" name="btn-radio" id="radio2">
        <input type="radio" name="btn-radio" id="radio3">
        
        <div class="slide-box primeiro">
              <img class="img-desktop" src="../static/imagens/slide-1.jpg" alt="slide 1">
        </div>

        <div class="slide-box">
              <img class="img-desktop" src="../static/imagens/slide-2.jpg" alt="slide 1">
        </div>

        <div class="slide-box">
              <img class="img-desktop" src="../static/imagens/slide-3.jpg" alt="slide 1">
        </div>

        <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>

        <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
    
    </div>

</section>


{% endblock %}