<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="../static/users.css">
</head>
<body>

    <!-- <div class="tabela_user"> -->
            <table id="users" class="display">
                    <thead>

                        <tr>
                            <th>nome</th>
                            <th>senha</th>
                        </tr>
                           
                    </thead>
                    

                
            
                        <tbody >
                            {% for user in userDetails %}
                            <tr class="linha_tabela">
                            
                                <td>{{user.nome}}</td>
                                <td>{{user.senha}}</td>
                            </tr>
                                {% endfor %}
                        </tbody>
                </table>
    <!-- </div>
       -->

    


      
   
    
</body>
</html>

   