<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table id="users" class="display">
        <thead>

            <tr>
                <th>nome</th>
                <th>senha</th>
            </tr>

        </thead>

        {% for user in userDetails %}
      
        <tbody>
            <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
            </tr>
        </tbody>

        {% endfor %}

    </table>


      
   
    
</body>
</html>

   